
@{
    ViewData["Title1"] = "Property";
}


<html>
<body>

    <div>
        <h1>
            @Property.propertyD["Tytul"]
        </h1>
    </div>

    <form action="SetProperty" method="post">

        <div>
            <textarea name="Content" cols="150" rows="20">"@Property.propertyD["Opis"]"</textarea>
            @*<input name="Content" type="text" value="@Property.propertyD["Opis"]" width="1000" height="200" />*@
        </div>
        <div>
            <table border="1">

                <tr>
                    <td width="150">Adres</td>
                    <td>
                        <input name="Address" type="text" value="@Property.propertyD["Adres"]" width="400" height="50" />
                    </td>
                    <td width="150">Cena</td>
                    <td>
                        <input name="Prize" type="text" value="@Property.propertyD["Cena"]" width="400" height="50" />
                    </td>
                </tr>

                <tr>
                    <td>Powierzchnia</td>
                    <td>
                        <input name="Area" type="text" value="@Property.propertyD["Powierzchnia"]" width="400" height="50" />
                    </td>
                    <td>Poziom</td>
                    <td>
                        <input name="Floor" type="text" value="@Property.propertyD["Poziom"]" width="400" height="50" />
                    </td>
                </tr>

                <tr>
                    <td>Pokoje</td>
                    <td>
                        <input name="Rooms" type="text" value="@Property.propertyD["Liczba pokoi"]" width="400" height="50" />
                    </td>
                    <td>Czynsz</td>
                    <td>
                        <input name="Fee" type="text" value="@Property.propertyD["Czynsz(dodatkowo)"]" width="400" height="50" />
                    </td>
                </tr>

            </table>
        </div>
        <hr />



        <input type="submit" value="send" />
    </form>





</body>
</html>